@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

body{
	min-width: 550px;
	padding: 0px 30px 0px 30px;
	text-align: center;
	position: relative;
	font: Verdana;
}

section{
	min-width: 500px;
	text-align: center;
}
    
header,footer{
	clear: both;
	width: auto;
}

h1{
	text-align: center;
}

.movingtitle{
	animation-duration: 3s;
	animation-name: lefttoright;
}

h2{
	text-align: left;
}

div{
	padding: 10px;
	margin:10px;
	text-align: center;
}

.middle{
	float: left;
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
}

.left{
	float: left;
	left: -30px;
	margin-left:-100%;
	text-align: center;
	position: relative; 
}

.right{
	float: left;
	right: -30px;
	text-align: center;
	position: relative;
}

.title{
	padding: 10px;
	margin:10px;
	text-align: center;
}

.button{
	margin-top: 12px;
}                    

.control{
    float: left;
    clear: right;
    width: 43%;
    height: 50%;
    /*border: 2px solid #000000;*/
}

.Simulation{
    float: left;
    width: 50%;
    height: 50%;
    overflow: auto;
    /*border: 2px solid #000000;*/
}

.picture{
    float: left;
    clear: left;
    width: 50%;
    height: 50%;
    /*border: 2px solid #000000;*/
}

.data{
	float: left;
	width: 43%;
    height: 50%;
	/*border: 2px solid #000000;*/
}
                                      
@keyframes lefttoright{                                       /*关键帧*/
	from{
		margin-left: -100%;
		width: 100%;
	}
	to{
		margin-left: 0%;
		width: 100%;
	}
}

fieldset{
	width: auto;
	border: 2px solid #000000;
}

legend{
	font-weight: bold;
	font-size: 125%;
}


/*.scss
$max-tab-count: 9;
.tab {
  	position: relative;
    width: 4rem;
    height: 3.9rem;
    z-index: 1;
    line-height: 3.9rem;
    text-align: center;
  	display: none;
  	@for $i from 1 through  $max-tab-count {
    	&amp;:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
     	 	opacity: 1;
      		transition: 0.5s opacity ease-in, 0.8s transform ease;
      		position: relative;
      		top: 0;
      		z-index: 100;
      		transform: translateY(0px);
      		text-shadow: 0 0 0;
    	}
  	}
}*/

.tab-wrap {
    transition: 0.3s box-shadow ease;
    border-radius: 6px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    margin: 40px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab-wrap:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.tab {
    display: none;
}

.tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
}

.tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tab:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
}

.tab:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: #fff;
}

.tab + label {
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
}

.tab + label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 #f4f4f4 inset;
}

.tab__content {
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: auto;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 6px;
    vertical-align: middle;
    width: 100%
}
/* 首先让内容部分都不可见，不占据文档流。 */

.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative; 
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative; 
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(6) ~ .tab__content:nth-of-type(6) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(7) ~ .tab__content:nth-of-type(7) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(8) ~ .tab__content:nth-of-type(8) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0;
}

input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;/*隐藏滑块*/
}

input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff; 
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}

/*IE*/
input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    border-radius: 10px;
}

input[type=range]::-ms-track {
    height: 25px;
    border-radius: 10px;
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
    border-color: transparent; /*去除原有边框*/
    color: transparent; /*去除轨道内的竖线*/
}

input[type=range]::-ms-thumb {
    border: solid 0.125em rgba(205, 224, 230, 0.5);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 0 .125em .125em #3b4547;
}

input[type=range]::-ms-fill-lower {
    /*进度条已填充的部分*/
    height: 22px;
    border-radius: 10px;
    background: linear-gradient(to right, #000000, white 100%, white);
}

input[type=range]::-ms-fill-upper {
    /*进度条未填充的部分*/
    height: 22px;
    border-radius: 10px;
    background: #ffffff;
}

input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(to right, #000000, white 100%, white);
}

input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}

table,tr,th,td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 3px;
	margin: 0 auto;
	position: relative;
	min-width: 50px;
	min-height: 30px;
}

th[class=slash]{
	background-image: url(./slash.jpg);
    background-size: 100% 100%;
}

div.outer {
	width: 402px;
	height: 300px;
	border: 1px solid #000000;
}
 
div.inner {
	width: 40px;
	height: 300px;
	float: left;
	margin: 0 0;
}