.trafficLight-red {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
}

.trafficLight-green {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: green;
}